@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

.outer {
  padding-top: 60px;
  font-family: 'Lato', sans-serif;
  font-size: 1.8em;
}

.mon {
  font-family: 'Montserrat', sans-serif;
}

.pac {
  font-family: 'Pacifico', cursive;
}

a .icon {
  padding-right: 10px;
}

.ion-heart {
  color: red;
}

blockquote {
  font-size: 22px; 
}

.btn-primary {
  margin-top: 10px;
}
.colored {
  font-size: 80px; 
}
