<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <div id="navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/talks/">Talks</a></li>
      <li><a href="/projects/">Projects</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/uses/">Uses</a></li>
      <li><a href="/ujjwal-cv-2018-12.pdf">Résumé</a></li>
    </ul>
  </div>
  <div class="container">
    {{ content | safe }}
  </div>
  <div id="footer">
    <h3>Made with ❤️ by <a href="https://twitter.com/ryzokuken">Ryzokuken</a> using <a href="https://www.11ty.io/">11ty</a></h3>
  </div>
</body>
</html>
